<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>register</title>
</head>
<body>
<div layout:fragment="content" class="bg-light border-right col-md-10">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Change Password</h1>
            <h1><span th:text="${message}"></span></h1>
            <form th:action="@{/workPlace/changePassword}" method="post">

                <div class="form-group">
                    <label for="oldPassword">Old Password</label>:
                    <input type="oldPassword"
                           id="oldPassword"
                           name="oldPassword"
                           class="form-control"
                           placeholder="oldPassword">
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password</label>:
                    <input type="newPassword"
                           id="newPassword"
                           name="newPassword"
                           class="form-control"
                           placeholder="newPassword">
                </div>
                <div class="form-group">
                    <label for="repeatPassword">Repeat Password</label>:
                    <input type="repeatPassword"
                           id="repeatPassword"
                           name="repeatPassword"
                           class="form-control"
                           placeholder="repeatPassword">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="register-submit"
                                   id="register-submit"
                                   class="btn"
                                   value="Change">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <a href="/" th:href="@{/}"><h2>Back to home page</h2></a>

</div>
</body>
</html>