<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title>Oprs.com</title>
</head>
<body>
<div layout:fragment="content" class="bg-light border-right col-md-10">
    <h1>Hello User</h1>
    <h2>Welcome to our home page!</h2>
    <div class="row">
        <div class="form-group">
             <div class="col-sm-6 col-sm-offset-3">
                 <a href="/logout" th:href="@{/login}"><button class="btn">login</button></a>
                 <a href="/logout" th:href="@{/signup}"><button class="btn">register</button></a>
             </div>
        </div>
    </div>
</div>
</body>
</html>

