<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout.html}">
<head>
    <title>Oprs.com</title>
</head>
<body>
<div layout:fragment="content" class="bg-light border-right col-md-10">
    <div th:if="${requests!=null}">
        <h3>all requests</h3>
        <div th:if="${requests.isEmpty()}">
            <div class="err" color="#FF0000">no available requests</div>
        </div>
        <div th:if="${!requests.isEmpty()}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">photo</th>
                    <th scope="col">FName</th>
                    <th scope="col">LName</th>
                    <th scope="col">social Number</th>
                    <th scope="col">status</th>
                    <th scope="col">creat time</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="request: ${requests}">
                    <tr>
                        <td th:text="${request.getId()}"/>
                        <td><img th:src="${request.getPhoto()}" alt="OPRS" width="50px" height="35px"/></td>
                        <td th:text="${request.getFirstName()}"/>
                        <td th:text="${request.getLastName()}"/>
                        <td th:text="${request.getSocialSecurityNumber()}"/>
                        <td th:text="${request.getStatus()}"/>
                        <td th:text="${request.getCreateDate()}"/>
                    </tr>
                </div>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>