<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>register</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>register page</h1>
            <form th:action="@{/signup}" method="post">
                <div class="form-group">
                    <label for="firstName">firstName</label>:
                    <input type="text"
                           id="firstName"
                           name="firstName"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">lastName</label>:
                    <input type="text"
                           id="lastName"
                           name="lastName"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="lastName">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Password">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="register-submit"
                                   id="register-submit"
                                   class="form-control btn btn-info"
                                   value="register">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <p><a href="/" th:href="@{/}">Back to home page</a></p>

</div>
</body>
</html>